* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #333;
}

a:link, a:visited {
/* 	color: #900; */
	color: #0a8ae0;
}

a:hover, a:active {
	color: #C00;
}

img {
	display: block;
}

/* header */

h1 {
	font-family: 'PT Sans Narrow', sans-serif;
	line-height: 1;
	font-weight: 700;
}

#header h1 {
	font-size: 1.25em;
	padding: 5px;
	text-transform: uppercase;
}

#settings {
	float: right;
	margin: 5px;
}

/* structural stuff */

#sidebar, #main-column {
	display: block;
	position: relative;
	box-sizing: border-box;
	padding: 0 10px;
/* 	border: 1px solid black; */
}

#sidebar {
	float: left;
	width: 250px;
}

div#main-column {
	margin-left: 260px;
}


/* sidebar stuff */

#sidebar ul {
	margin-top: 10px;
	margin-left: 20px;
}

#sidebar ul li {
	margin-bottom: 4px;
}

#sidebar ul li a.active {
	font-weight: bold;
}

#sidebar ul ul {
	margin-top: 0;
	margin-left: 10px;
	margin-bottom: 0;
}


/* post item crap */


div.post {
	margin: 7px;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 7px;
}

div.post:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

div.post h3 {
	font-size: 1.2em;
/* 	background-color: #eee; */
	padding-bottom: 3px;
	cursor: pointer;
}

div.post h3 a:visited, div.post.read h3 a {
	color: #7bb6dd;
}

div.post div.post-byline {
	color: #aaa;
}

div.post span.post-feed-source {
	font-style: italic;
}

div.post div.post-content {
	margin: 15px 15px 0 15px;
	line-height: 1.6;
	width: 550px;
	font-family: 'PT Serif', 'PT Sans', sans-serif;
}

div.post div.post-content p {
	margin-bottom: 1em;
}

div.post div.post-content blockquote {
	margin: 10px;
	font-style: italic;
}


/* footer crap */

div#footer {
	text-align: right;
	position: fixed;
	bottom: 0;
	right: 0;
	font-style: italic;
	color: #999;
	font-size: 0.8em;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 5px 10px;
}

div#footer a {
	color: inherit;
}



/* stuff for that funky main page */

#lolwut {
	margin: 50px auto;
	width: 750px;
}

#lolwut h1 {
	font-size: 6em;
	margin-bottom: 45px;
}

#lolwut p {
	font-size: 1.5em;
	line-height: 1.8;
}

/* stuff for mobile */

@media only screen and (max-width: 500px) {
	#lolwut {
		margin: 50px 10px;
		width: auto;
		font-size: 12px;
	}
	#lolwut h1 {
		font-size: 4em;
	}
}