* {
	padding: 0;
	margin: 0;
}

body, input {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #333;
}

a:link, a:visited {
/* 	color: #900; */
	color: #0a8ae0;
}

a:hover, a:active {
	color: #C00;
}

img {
	display: block;
}

/* header */

h1 {
	font-family: 'PT Sans Narrow', sans-serif;
	line-height: 1;
	font-weight: 700;
}

#header h1 {
	font-size: 1.25em;
	padding: 5px;
	text-transform: uppercase;
	margin-bottom: 0;
}

#settings {
	float: right;
	margin: 5px;
}

/* structural stuff */

#sidebar, #main-column {
	display: block;
	position: relative;
	box-sizing: border-box;
	padding: 0 10px;
/* 	border: 1px solid black; */
}

#sidebar {
	float: left;
	width: 250px;
}

div#main-column {
	margin-left: 260px;
}

/* login prompt stuff */

#login-prompt, #register-prompt {
	width: 400px;
	margin: 50px auto;
}

#login h1, #register-prompt h1 {
	font-size: 4em;
	text-transform: uppercase;
	margin-bottom: 1em;
}

#login-prompt input, #register-prompt input {
	padding: 3px;
	width: 300px;
	margin-bottom: 7px;
}

#register-prompt label {
	display: inline-block;
	width: 100px;
}

#register-prompt input {
	width: 250px;
}

#login-prompt input[type="submit"], #register-prompt input[type="submit"] {
	width: auto;
}

#login-prompt > p {
	margin-bottom: 20px;
}

#login-prompt span.registered {
	padding: 5px;
	border-radius: 4px;
	background-color: #0a8ae0;
	color: white;
}

/* sidebar stuff */

#sidebar ul {
	margin-top: 10px;
	margin-left: 20px;
}

#sidebar ul li {
	margin-bottom: 4px;
}

#sidebar ul li a.active {
	font-weight: bold;
}

#sidebar ul ul {
	margin-top: 0;
	margin-left: 10px;
	margin-bottom: 0;
}

#sidebar ul#list-of-feeds .zero-feed {
	opacity: 0.5;
}

/* main column stuff */

.feed-utils {
	margin-bottom: 15px;
}

span.feed-title {
	font-weight: bold;
}

body#help div#faq-answers {
	width: 500px;
}

body#help h3, body#settings-page h3 {
	margin-bottom: 1em;
	font-family: 'PT Sans Narrow', sans-serif;
	line-height: 1;
	font-weight: 700;
	font-size: 1.5em;
}

body#help #main-column p, body#help #main-column ul {
	margin-bottom: 1em;
}

body#help #main-column ul {
	margin-left: 25px;
}

body#help div.help-section, body#settings-page div.settings-section {
	margin-bottom: 20px;
	border: 1px dotted #ccc;
	padding: 10px;
}

table.fucked th, table.fucked td {
	padding: 2px 5px 2px;
}

table.fucked th {
	text-align: left;
	border-bottom: 1px solid #222;
}

table.fucked td {
	border-bottom: 1px solid #ccc;
}

body#subs-page #main-column > * {
	margin-bottom: 15px;
}

body#subs-page #main-column input[type="url"] {
	width: 350px;
	padding: 3px;
}

p.success, div.success {
	background-color: #0d9822;
	color: white;
	padding: 4px 8px;
	border-radius: 4px;
}

/* post item crap */

div.post {
	margin: 7px;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 7px;
}

div.post:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

div.post h3 {
	font-size: 1.2em;
/* 	background-color: #eee; */
	padding-bottom: 3px;
	cursor: pointer;
}

div.post h3 a:visited, div.post.read h3 a {
	color: #7bb6dd;
}

div.post span.star-this-post {
	color: #7bb6dd;
}

div.post.starred span.star-this-post {
	color: #dee117;
}

div.post.unread span.mark-this-post {
	color: #0a8ae0;
}

div.post.read span.mark-this-post {
	color: #7bb6dd;
}

div.post div.post-byline {
	color: #aaa;
}

div.post span.post-feed-source {
	font-style: italic;
}

div.post div.post-content {
	margin: 15px 15px 0 15px;
	line-height: 1.6;
	width: 550px;
	font-family: 'PT Serif', 'PT Sans', sans-serif;
}

div.post div.post-content p {
	margin-bottom: 1em;
}

div.post div.post-content blockquote {
	margin: 10px;
	font-style: italic;
}


/* footer crap */

div#footer {
	text-align: right;
	position: fixed;
	bottom: 0;
	right: 0;
	font-style: italic;
	color: #999;
	font-size: 0.8em;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 5px 10px;
}

div#footer a {
	color: inherit;
}



/* stuff for that funky main page */

#lolwut {
	margin: 50px auto;
	width: 750px;
}

#lolwut h1 {
	font-size: 6em;
	margin-bottom: 45px;
}

#lolwut p {
	font-size: 1.5em;
	line-height: 1.8;
}

/* stuff for mobile */

@media only screen and (max-width: 500px) {
	#lolwut {
		margin: 50px 10px;
		width: auto;
		font-size: 12px;
	}
	#lolwut h1 {
		font-size: 4em;
	}
}